<mat-card-content>
    @if(!loading) {
        <form class="flex flex-col" id="registerForm" [formGroup]="registerForm" (ngSubmit)="register()">
            <div class="flex w-full gap-5">
                <mat-form-field>
                    <mat-label>Nome</mat-label>
                    <input matInput appNoSpaces placeholder="João" [focus]="true" [maxlength]="maxLength" [formControl]="getNameControl"/>
                    @if (getNameControl.invalid) {
                        <mat-error>{{ nameErrorMessage() }}</mat-error>
                    }
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Apelido</mat-label>
                    <input matInput appNoSpaces placeholder="Silva" [maxlength]="maxLength" [formControl]="getSurnameControl"/>
                    @if (getSurnameControl.invalid) {
                        <mat-error>{{ surnameErrorMessage() }}</mat-error>
                    }
                </mat-form-field>
            </div>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput appNoSpaces placeholder="joao.silva@gmail.com" [maxlength]="maxLength" [formControl]="getEmailControl"/>
                @if (getEmailControl.invalid) {
                    <mat-error>{{ emailErrorMessage() }}</mat-error>
                }
            </mat-form-field>
            <mat-form-field>
                <mat-label>Palavra-passe</mat-label>
                <input matInput appNoSpaces [type]="hide() ? 'password' : 'text'" [maxlength]="maxLength" [formControl]="getPasswordControl"/>
                <button mat-icon-button type="button" matSuffix (click)="togglePasswordVisibility($event)">
                    <mat-icon class="mr-2">{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                @if (getPasswordControl.invalid) {
                    <mat-error>{{ passwordErrorMessage() }}</mat-error>
                }
            </mat-form-field>
            <mat-form-field>
                <mat-label>Confirmar palavra-passe</mat-label>
                <input matInput appNoSpaces [type]="hideConfirmation() ? 'password' : 'text'" [maxlength]="maxLength" [formControl]="getPasswordConfirmationControl"/>
                <button mat-icon-button type="button" matSuffix (click)="togglePasswordVisibility($event, true)">
                    <mat-icon class="mr-2">{{ hideConfirmation() ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                @if (getPasswordConfirmationControl.invalid) {
                    <mat-error>{{ passwordConfirmationErrorMessage() }}</mat-error>
                }
            </mat-form-field>
            <mat-checkbox [formControl]="getTermsControl">Aceito os <a mat-dialog-close [routerLink]="['terms']">Termos e condições</a></mat-checkbox>
        </form>
    } @else {
        <div class="flex flex-col py-3 items-center content-center">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
    }
</mat-card-content>
<mat-card-actions class="justify-end">
	<button mat-flat-button type="submit" form="registerForm" [disabled]="!registerForm.valid">Registar</button>
</mat-card-actions>