<header class="flex w-full items-center justify-between">
	<a [routerLink]="['']" matTooltip="Voltar à página inicial" matTooltipPosition="left">
		<img src="assets/gp-logo.png" alt="gym logo" class="w-10" />
	</a>
	<div class="flex w-full justify-end items-center gap-6">
		<mat-slide-toggle
			[matTooltip]="darkMode() ? 'Desligar modo noturno' : 'Ligar modo noturno'"
			[checked]="darkMode()"
			(change)="toggleDarkMode($event)">
			<div class="flex flex-col">
				<mat-icon>{{ darkMode() ? 'bedtime' : 'wb_sunny' }}</mat-icon>
			</div>
		</mat-slide-toggle>
		<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu" matTooltip="Abrir menu">
			<div class="flex flex-col">
				<mat-icon>menu</mat-icon>
			</div>
		</button>
		<mat-menu #menu="matMenu" xPosition="before">
			<button mat-menu-item [routerLink]="['pricing']">
				<mat-icon>euro_symbol</mat-icon>
				<span>Preçário</span>
			</button>
			<button mat-menu-item [routerLink]="['terms']">
				<mat-icon class="material-symbols-outlined">description</mat-icon>
				<span>Termos e condições</span>
			</button>
			@if (!authService.isLoggedIn()) {
				<button mat-menu-item [routerLink]="['login']">
					<mat-icon class="material-symbols-outlined">shield_person</mat-icon>
					<span>Entrar/Registar</span>
				</button>
			} @else {
				@switch (authService.getUserRole()) {
					@case (RoleEnum.ADMIN) {
						<button mat-menu-item [routerLink]="['patients']">
							<mat-icon class="material-symbols-outlined">person</mat-icon>
							<span>Clientes</span>
						</button>
						<button mat-menu-item [routerLink]="['therapists']">
							<mat-icon class="material-symbols-outlined">spa</mat-icon>
							<span>Terapeutas</span>
						</button>
						<button mat-menu-item [routerLink]="['templates']">
							<mat-icon class="material-symbols-outlined">edit_calendar</mat-icon>
							<span>Templates</span>
						</button>
					}
					@case (RoleEnum.PATIENT) {
						<button mat-menu-item [routerLink]="['sessions']">
							<mat-icon class="material-symbols-outlined">bookmark</mat-icon>
							<span>As minhas sessões</span>
						</button>
					}
				}
				<button mat-menu-item (click)="logout()">
					<mat-icon class="material-symbols-outlined">logout</mat-icon>
					<span>Sair</span>
				</button>
			}
		</mat-menu>
	</div>
</header>
