<div class="flex w-full justify-between mb-2">
	<button mat-button matTooltip="Voltar à data de hoje" matTooltipPosition="right" (click)="resetSelectedTab()">
		<mat-icon>today</mat-icon>
		Hoje
	</button>
	@if (drawer.opened) {
	<button type="button" mat-icon-button matTooltip="Fechar" disabled="true" (click)="drawer.toggle()">
		<mat-icon>arrow_right</mat-icon>
	</button>
	} @else {
	<button type="button" mat-icon-button matTooltip="Expandir" disabled="true" (click)="drawer.toggle()">
		<mat-icon>arrow_left</mat-icon>
	</button>
	}
</div>
<mat-drawer-container>
	<mat-drawer-content class="flex w-1/2 p-2">
		<mat-card>
			<mat-calendar [minDate]="minDate" [maxDate]="maxDate" [(selected)]="selectedDate"></mat-calendar>
		</mat-card>
	</mat-drawer-content>

	<mat-drawer #drawer mode="side" position="end" opened="true">
		<mat-tab-group #tabGroup [selectedIndex]="selectedIndex()" (selectedIndexChange)="setSelectedDate($event)" animationDuration="200">
			@for (date of dateRange; track date) {
			<mat-tab>
				<ng-template mat-tab-label>{{ date | date : 'EEEE, dd/MM' }}</ng-template>
				<ng-template matTabContent>
					<app-day-panel [date]="date"></app-day-panel>
				</ng-template>
			</mat-tab>
			}
		</mat-tab-group>
	</mat-drawer>
</mat-drawer-container>
