.mat-drawer-container,
.mat-drawer {
	background: none;
}

.mat-drawer-container {
	height: 100vh;
	display: flex;
	width: 100%;
	align-items: start;
	justify-content: center;
}

.mat-drawer {
	display: flex;
	width: 50%;
	padding: 0.5rem;
}

.ball {
	display: inline-block;
	height: 7px;
	aspect-ratio: 1/1;
	border-radius: 50%;
	margin-top: 30px;
}

@media (min-width: 435px) {
    .ball {
		height: 10px;
        margin-top: 40px;
    }
}

.day-available {
	background-color: green;
	box-shadow: 0 0 8px green;
	-webkit-animation: pulse-green 3s linear 2s infinite;
	animation: pulse-green 3s linear 2s infinite;
}

.day-pending {
	background-color: orange;
	box-shadow: 0 0 8px orange;
	-webkit-animation: pulse-orange 3s linear 2s infinite;
	animation: pulse-orange 3s linear 2s infinite;
}

.day-full {
	background-color: red;
	box-shadow: 0 0 8px red;
	-webkit-animation: pulse-red 3s linear 2s infinite;
	animation: pulse-red 3s linear 2s infinite;
}

.day-completed {
	background-color: grey;
	box-shadow: 0 0 8px grey;
	-webkit-animation: pulse-grey 3s linear 2s infinite;
	animation: pulse-grey 3s linear 2s infinite;
}

@-webkit-keyframes pulse-green {
	0% {
		box-shadow: 0 0 8px green;
	}
	50% {
		box-shadow: 0 0 16px green;
	}
	100% {
		box-shadow: 0 0 8px green;
	}
}

@keyframes pulse-green {
	0% {
		box-shadow: 0 0 8px green;
	}
	50% {
		box-shadow: 0 0 16px green;
	}
	100% {
		box-shadow: 0 0 8px green;
	}
}

@-webkit-keyframes pulse-orange {
	0% {
		box-shadow: 0 0 8px orange;
	}
	50% {
		box-shadow: 0 0 16px orange;
	}
	100% {
		box-shadow: 0 0 8px orange;
	}
}

@keyframes pulse-orange {
	0% {
		box-shadow: 0 0 8px orange;
	}
	50% {
		box-shadow: 0 0 16px orange;
	}
	100% {
		box-shadow: 0 0 8px orange;
	}
}

@-webkit-keyframes pulse-red {
	0% {
		box-shadow: 0 0 8px red;
	}
	50% {
		box-shadow: 0 0 16px red;
	}
	100% {
		box-shadow: 0 0 8px red;
	}
}

@keyframes pulse-red {
	0% {
		box-shadow: 0 0 8px red;
	}
	50% {
		box-shadow: 0 0 16px red;
	}
	100% {
		box-shadow: 0 0 8px red;
	}
}

@-webkit-keyframes pulse-grey {
	0% {
		box-shadow: 0 0 8px grey;
	}
	50% {
		box-shadow: 0 0 16px grey;
	}
	100% {
		box-shadow: 0 0 8px grey;
	}
}

@keyframes pulse-grey {
	0% {
		box-shadow: 0 0 8px grey;
	}
	50% {
		box-shadow: 0 0 16px grey;
	}
	100% {
		box-shadow: 0 0 8px grey;
	}
}

// ::ng-deep .day-available.mat-calendar-body-cell:not(.mat-calendar-body-disabled) .mat-calendar-body-cell-content {
// 	// border-color: red;
// 	// color: green;
//     // background-color: aliceblue;
//     box-shadow: inset 0px 0px 10px green;
// }

// ::ng-deep .day-pending.mat-calendar-body-cell:not(.mat-calendar-body-disabled) .mat-calendar-body-cell-content {
// 	// border-color: red;
// 	// color: green;
//     // background-color: aliceblue;
//     box-shadow: inset 0px 0px 10px orange;
// }

// ::ng-deep .day-full.mat-calendar-body-cell:not(.mat-calendar-body-disabled) .mat-calendar-body-cell-content {
// 	// border-color: red;
// 	// color: green;
//     // background-color: aliceblue;
//     box-shadow: inset 0px 0px 10px red;
// }
