<div class="flex w-full justify-between mb-2">
	<button mat-button matTooltip="Voltar à data de hoje" matTooltipPosition="right" (click)="resetSelectedTab()">
		<mat-icon>today</mat-icon>
		Hoje
	</button>
</div>

<div class="grid grid-cols-1 lg:grid-cols-2 gap-3">
	<div class="col-span-1">
		<mat-card>
			<mat-calendar [minDate]="minDate" [maxDate]="maxDate" [(selected)]="selectedDate"></mat-calendar>
		</mat-card>
	</div>

	<div class="col-span-1">
		<mat-tab-group #tabGroup (selectedIndexChange)="setSelectedDate($event)" animationDuration="200">
			@for (date of dateRange(); track date) {
			<mat-tab>
				<ng-template mat-tab-label>{{ date | date : 'EEEE, dd/MM' }}</ng-template>
				<ng-template matTabContent>
					<app-day-panel [date]="date"></app-day-panel>
				</ng-template>
			</mat-tab>
			}
		</mat-tab-group>
	</div>
</div>