<mat-card-content>
    @if(!loading) {
        <form class="flex flex-col" id="loginForm" [formGroup]="loginForm" (ngSubmit)="login()">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput appNoSpaces placeholder="joao.silva@gmail.com" [focus]="!!!emailInitialValue" [maxlength]="maxLength" [formControl]="getEmailControl"/>
                @if (getEmailControl.invalid) {
                    <mat-error>{{ emailErrorMessage() }}</mat-error>
                }
            </mat-form-field>
            <mat-form-field>
                <mat-label>Palavra-passe</mat-label>
                <input matInput appNoSpaces [type]="hide() ? 'password' : 'text'" [focus]="!!emailInitialValue" [maxlength]="maxLength" [formControl]="getPasswordControl"/>
                <button mat-icon-button type="button" matSuffix (click)="togglePasswordVisibility($event)">
                    <mat-icon class="mr-2">{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                @if (getPasswordControl.invalid) {
                    <mat-error>{{ passwordErrorMessage() }}</mat-error>
                }
            </mat-form-field>
            <div class="flex w-full items-start gap-2">
                <a class="cursor-pointer" (click)="sendNewPassword()">Esqueci-me da palavra-passe</a>
                @if (gettingNewPassword) {
                    <span class="flex">
                        <mat-progress-spinner diameter="20" mode="indeterminate"></mat-progress-spinner>
                    </span>
                }
            </div>
        </form>
    } @else {
        <div class="flex flex-col py-3 items-center content-center">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
    }
</mat-card-content>
<mat-card-actions class="justify-end">
    <button mat-flat-button type="submit" form="loginForm" [disabled]="!loginForm.valid">Entrar</button>
</mat-card-actions>