<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title> {{template().name}} </mat-panel-title>
        <mat-panel-description>
            <div>
                @for (time of template().startTimes; track $index) {
                    <span>{{time | date:'HH:mm'}}{{$last ? '':', '}}</span>
                    <!-- <span>{{time | date:'HH:mm'}}-{{computeEndTime(time, template().durationInMinutes) | date: 'HH:mm'}}{{$last ? '':', '}}</span> -->
                }
            </div>
            <button mat-icon-button (click)="$event.stopPropagation(); openDeleteTemplateDialog()">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="flex w-full">
        <div class="flex grow basis-0 mr-4">Terapeuta: {{therapistName}}</div>
        <div class="flex grow-[2] basis-0 mr-6">Duração: {{template().durationInMinutes}} minutos (por sessão)</div>
    </div>
</mat-expansion-panel>
