<h2 mat-dialog-title>Reservar sessão</h2>
<mat-dialog-content>
	@if(!loading) {
		@if(!newPatient) {
			<form class="flex flex-col gap-3"  id="sessionForm" [formGroup]="sessionForm" (ngSubmit)="checkPatientExists()">
				<div>
					<p>{{ data.session.date | date : 'EEEE, dd/MM' }}</p>
					<p>{{ data.session.date | date : 'HH:mm' }}</p>
				</div>
				<div>
					<mat-form-field class="flex w-full">
						<mat-label>Nome</mat-label>
						<input [focus]="!newPatient" matInput placeholder="João Silva" [maxlength]="_maxLength" [formControl]="getNameControl" />
						@if (getNameControl.invalid) {
							<mat-error>{{ nameErrorMessage() }}</mat-error>
						}
					</mat-form-field>
					<mat-form-field class="flex w-full">
						<mat-label>Email</mat-label>
						<input matInput placeholder="joaosilva@example.com" [maxlength]="_maxLength" [formControl]="getEmailControl" />
						@if (getEmailControl.invalid) {
							<mat-error>{{ emailErrorMessage() }}</mat-error>
						}
					</mat-form-field>
					<mat-checkbox [formControl]="getTermsControl">Aceito os <a mat-dialog-close [routerLink]="['terms']">Termos e condições</a></mat-checkbox>
				</div>
			</form>
		} @else {
			<form class="flex flex-col gap-3" id="verificationForm" [formGroup]="verificationForm" (ngSubmit)="verifyPatient()">
				<div>
					<p>Introduza o código de confirmação enviado para o:</p>
					<p> {{ getEmailControl.value | hide }}</p>
				</div>
				<mat-form-field class="flex w-full">
					<input matInput #codeInput placeholder="****" [maxlength]="4" [formControl]="getCodeControl" [focus]="newPatient"/>
				</mat-form-field>
				<div class="flex w-full items-start gap-2">
					<a class="cursor-pointer" (click)="sendVerificationCode(true)">Reenviar código</a>
					@if (gettingNewCode) {
						<span class="flex">
							<mat-progress-spinner diameter="20" mode="indeterminate"></mat-progress-spinner>
						</span>
					}
				</div>
			</form>
		}
	}  @else {
		<div class="flex flex-col items-center content-center">
			<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
		</div>
	}
	</mat-dialog-content>
	<mat-dialog-actions>
		<button mat-button mat-dialog-close (click)="onNoClick()">Cancelar</button>
		@if (!newPatient) {
			<button mat-flat-button type="submit" form="sessionForm" [disabled]="!sessionForm.valid">Reservar</button>
		} @else {
			<button mat-flat-button type="submit" form="verificationForm" [disabled]="!verificationForm.valid">Verificar</button>
		}
	</mat-dialog-actions>
