<mat-card class="min-w-96" appearance="outlined">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{session().date | date: 'HH:mm'}} - {{computeEndTime() | date: 'HH:mm'}}</mat-card-title>
      <mat-card-subtitle>Terapeuta: {{session().therapist.name}}</mat-card-subtitle>
      @if (authService.isLoggedIn()) {
        <div>
          @if(session().seriesId){
            <button mat-icon-button [matMenuTriggerFor]="deleteMenu" aria-label="Eliminar" matTooltip="Eliminar">
              <div class="flex flex-col">
                <mat-icon>delete</mat-icon>
              </div>
            </button>
            <mat-menu #deleteMenu="matMenu" xPosition="before">
              <button mat-menu-item (click)="openDeleteSessionDialog()">
                <mat-icon>looks_one</mat-icon>
                <span>Eliminar ocorrência</span>
              </button>
              <button mat-menu-item (click)="openDeleteSessionDialog(true)">
                <mat-icon>delete_sweep</mat-icon>
                <span>Eliminar série</span>
              </button>
            </mat-menu>
          } @else {
            <button mat-icon-button
              matTooltip="Eliminar"
              (click)="openDeleteSessionDialog()">
              <mat-icon>delete</mat-icon>
            </button>
          }
          <button mat-icon-button
            matTooltip="Editar"
            (click)="openEditSessionDialog()">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      }
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <p>Duração: {{session().durationInMinutes}} minutos</p>
    <p>Estado: {{SessionStatusMessages[session().status]}}</p>
    @if(authService.isLoggedIn() && (session().status === SessionStatusEnum.PENDING || session().status === SessionStatusEnum.CONFIRMED)) {
      <p>Cliente: <a [routerLink]="['patient/',session().patient?.id]" matTooltip="Abrir detalhes do cliente" matTooltipPosition="after">{{session().patient?.name}}</a></p>
      <p>Email: {{session().patient?.email}}</p>
    }
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-flat-button
      (click)="openSessionBookingDialog()"
      [disabled]="session().status !== SessionStatusEnum.AVAILABLE">
      <mat-icon>queue</mat-icon>
      Reservar
    </button>
    @if(authService.isLoggedIn()) {
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="mais opções" matTooltip="Mais opções">
        <div class="flex flex-col">
          <mat-icon>more_vert</mat-icon>
        </div>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item disabled="true" (click)="cancelSession()">
          <mat-icon>cancel</mat-icon>
          <span>Cancelar</span>
        </button>
        <button mat-menu-item disabled="true" (click)="clearSession()">
          <mat-icon>settings_backup_restore</mat-icon>
          <span>Reabrir</span>
        </button>
        <button mat-menu-item disabled="true" (click)="sendConfirmationEmail()">
          <mat-icon>outgoing_mail</mat-icon>
          <span>Enviar confirmação</span>
        </button>
      </mat-menu>
    }
  </mat-card-actions>
</mat-card>
  
