<mat-card class="min-w-96" appearance="outlined">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>{{session.date | date: 'HH:mm'}}</mat-card-title>
    <mat-card-subtitle>Terapeuta: {{session.therapist.name}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>Duração: {{session.durationInMinutes}} minutos</p>
    <p>Vagas: {{session.vacancies}}</p>
    <p>Estado: {{SessionStatusMessages[this.session.status]}}</p>
  </mat-card-content>
  <mat-card-actions class="justify-end">
    <button mat-flat-button (click)="openSessionBookingDialog()" [disabled]="session.status !== SessionStatusEnum.AVAILABLE">
      <mat-icon>queue</mat-icon>
      Reservar
    </button>
  </mat-card-actions>
</mat-card>
  
