<div class="flex flex-col w-full p-6 gap-4 items-center">
	@if(!searching){
        @if (authService.isAdmin()) {
			<div class="flex w-full justify-start">
				<button mat-flat-button [matMenuTriggerFor]="createMenu">
					<mat-icon>add</mat-icon>
					Criar sessões
				</button>
				<mat-menu #createMenu="matMenu" xPosition="before">
					<button mat-menu-item (click)="openCreateFromTemplateDialog()">
						<mat-icon>event_note</mat-icon>
						<span>Template diário</span>
					</button>
					<button mat-menu-item (click)="openAddSessionDialog()">
						<mat-icon>looks_one</mat-icon>
						<span>Sessão individual</span>
					</button>
				</mat-menu>
				<button mat-button (click)="openClearDayDialog()" [disabled]="daySessions.length === 0">
					<mat-icon>event_busy</mat-icon>
					Limpar dia
				</button>
			</div>
        }
		@for (session of daySessions; track session._id) {
			<app-session-card (refreshTabEmitter)="authService.isAdmin() ? getDaySessionsDetailed() : getDaySessions()" [session]="session"></app-session-card>
		} @empty {
			<img src="assets/gp-logo.png" alt="gym logo" class="mt-10 opacity-15 w-60" />
		}
	} @else {
		<div class="flex flex-col items-center content-center">
			<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
		</div>
	}
</div>
