<div class="flex w-full pb-5 justify-between">
    <button mat-flat-button (click)="openAddTemplateDialog()">
        <mat-icon>add</mat-icon>
        Novo template
    </button>
    <div>
        <button mat-button (click)="accordion().openAll()">Expandir todos</button>
        <button mat-button (click)="accordion().closeAll()">Fechar todos</button>
    </div>
</div>
<mat-accordion multi>
    @if (!searching) {
        @for (template of templates; track template._id) {
            <app-template-slot [template]="template"></app-template-slot>
        } @empty {
            <p class="text-center">Não existem templates de horários</p>
        }
    } @else {
        <div class="flex flex-col items-center content-center">
			<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
		</div>
    }
</mat-accordion>
